/NetBeansProjects/JavaApplication1/nbproject/private/
/NetBeansProjects/JavaApplication1/build/
/NetBeansProjects/SE1404/nbproject/private/
/NetBeansProjects/SE1404/dist/
/NetBeansProjects/SE1404/build/